{% extends 'base.html' %}
{% block pagetitle %}Tumblelog{% endblock %}
{% block title %}Blog{% endblock %}
{% block primary %}
	{% for object in latest %}
		<h2><a href="{{object.get_absolute_url}}">{{ object.title }}</a></h2>
		<p>{{object.pub_date|date:"d F Y"}}</p>
		{{ object.body_html|truncatewords_html:"20"|safe }}
		<p>Tags: {% for tag in object.get_tags%}<a href="/blog/tags/{{tag.name|slugify}}/">{{tag}}</a> {% endfor %}</p>
		<p><a href="{{object.get_absolute_url}}">Read more...</a></p>
	{% endfor %}
{% endblock %}
