<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Scott Walsh{%block pagetitle %}{% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Lora&subset=latin&v2' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css" />
	</head>
	<body>
		<div id="header">
			<p>My name is <b>Scott Walsh</b>. I'm a software developer from Kingston upon Hull, UK. Take a look at my <a href="https://github.com/scottwalsh">code</a> and <a href="http://www.twitter.com/scottwalsh">occasional ramblings</a>.</p>
		</div>
		<div id="content">
			{% block primary %}{% endblock %}
		</div>
		<div id="footer">
			<p>Copyright {% now "Y" %} Scott Walsh. Drop me a line on twitter, <a href="http://www.twitter.com/scottwalsh">@scottwalsh</a>. Oh, and don't forget to subscribe to the RSS feed.</p>
		</div>
	</body>
</html>
